.grid {
  display: grid;
}

.grid-column {
  grid-template-columns: 1fr;
}

.grid-gap-1 {
  grid-gap: 1rem;
}

.grid-gap-1\/5 {
  grid-gap: 1.5rem;
}

@media screen and (min-width: 500px) {
  .grid-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid-column {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid-column {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid-column {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .grid-column {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* //////////////////// */

.card {
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: #fff;
   cursor: pointer;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  background: #c7ecee;
    cursor: pointer;

}

.card-body {
  padding: 15px 20px;
}

.card-title {
  text-align: center;
  font-size: 14pt;
  color: #130f40;
}

.card-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #f0932b;
  font-size: 10pt;
  letter-spacing: 0.5px;
}

.card-subtitle ~ .card-title {
  margin-top: 10px;
}

/* card detail styles */
.card-detail .card-title {
  font-size: 16pt;
  margin-bottom: 20px;
}

.card-detail .card-img {
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .card-detail {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

  }

  .card-detail .card-img {
    height: auto;
  }
}
/* ///////////////////// */
.HorizontalScroll {
  /* background-color: red; */

  max-height: 300px;
  width: 100%;

  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.HorizontalScroll .itm {
  margin-left: 15px;
  height: 150px;
  width: 150px;
  line-height: 30px;
  text-align: center;
}

.card-bodyy {
  margin: 0;
  padding: 10px 20px;
  background-color: #fff;
  margin-left: 15px;
}

.card-titlee {
  text-transform: uppercase;
  font-weight: 300;
  color: #f0932b;
  font-size: 10pt;
  letter-spacing: 0.5px;
  margin-left: 15px;
}


.card-detaill{
        display: grid;
      
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}


.downlodImgProfile {
   font-size: 10px;
    color: royalblue;
    cursor: pointer;
}